## Ignore Visual Studio temporary files, build results, and
## Other file(s) type(s) and unwanted folder(s)
## The Ignore List is also categorized!
## Written by yungDoom respectively.

## GENERAL ##

# Roblox
App/include/security/RandomConstant.h # Feel free to remove this line if you've facing with issues.
/RobloxStudio/*.lib
/RCCService/*.lib
/WindowsClient/*.lib
git.txt # im not gonna even talk about it.

# Ignore precompiled shaders
shaders/shaders_*.pack

# Ignore boost builds
Contribs/boost_1_56_0/bjam.exe
Contribs/boost_1_56_0/b2.exe
Contribs/boost_1_56_0/bin.v2/
Contribs/boost_1_56_0/project-config.jam
Contribs/boost_1_56_0/stage/lib/

# Ignore Qt builds
Contribs/Qt/4.8.5/win_VS2012/lib
Contribs/Qt/4.8.5/win_VS2012/bin/*.exe*
Contribs/Qt/4.8.5/win_VS2012/bin/*.pdb
Contribs/Qt/4.8.5/win_VS2012/bin/*.dll
Contribs/Qt/4.8.5/win_VS2012/bin/*.lib
Contribs/Qt/4.8.5/win_VS2012/.qmake.cache
Contribs/Qt/4.8.5/win_VS2012/configure.cache
Contribs/Qt/4.8.5/win_VS2012/projects.sln
*.moc
moc_*.*
qrc_*.*

## SDL2
/Contribs/SDL2/VisualC/SDL/Win32/
/SDL2/Win/2.0.4/

## zlib
/zlib/win/bin/

# Ignore OpenSSL configure & build cache/output
Contribs/openssl/*32*/
/openssl/

## curl
/Contribs/windows/x86/curl/curl-7.43.0/build/

# Custom ignore files and folders
/App/bin/
/Network/bin/
/boostlibs/bin/
/Base/bin/
/Log/bin/
/QTitanRibbon/roblox_build/
/RobloxStudio/bin/
/Rendering/LibOVR/Lib/Windows/
/CoreScriptConverter2/tool/win32/*.exe
/CoreScriptConverter2/tool/win32/*.dll
/CoreScriptConverter2/tool/win32/*.lib
/CoreScriptConverter2/tool/win32/*.exp

## DSBaseClasses
/Contribs/DSBaseClasses/Sources/Debug
/Contribs/DSBaseClasses/Sources/Release

# Dont ignore these files/folders
# Add your lines here
# !/location
# !/location2
# !/location3

## END OF GENERAL ##
## VISUAL STUDIO ##

# Visual Studio cache/options directory
.vs/

# Build results

[Dd]ebug/
[Oo]bj/
[Ll]ogs/

# Files built by Visual Studio
*.obj

*.log

## END OF VISUAL STUDIO ##
/RCCService/Mesa-7.8.1/lib/release
