<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="robloxConfigurationProvider" type="Roblox.Configuration.ProviderConfigSection, Roblox.Configuration"/>
  </configSections>


  <robloxConfigurationProvider>
    <groups>
      <!-- Insert group configurations here (In your own application config) -->
    </groups>
    <endpointAddresses>
      <!-- Insert WCF endpoint address configurations here (In your own application config) -->
    </endpointAddresses>
  </robloxConfigurationProvider>

  <connectionStrings>
    <add name="Roblox.Configuration.Properties.Settings.BasicConfigSource" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ConfigurationDatabase.mdf;Integrated Security=True;User Instance=True"/>
    <add name="Roblox.Configuration.Properties.Settings.ConfigurationDatabaseConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ConfigurationDatabase.mdf;Integrated Security=True;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
