<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Roblox.Common.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="Roblox.Common.Properties.Settings.BillingConnectionString" connectionString="Data Source=192.168.100.80;Initial Catalog=RobloxBilling;User ID=Roblox;Password=To0Big2F@il"/>
  </connectionStrings>
  <applicationSettings>
    <Roblox.Common.Properties.Settings>
      <setting name="SMTPServer" serializeAs="String">
        <value>localhost</value>
      </setting>
      <setting name="ApplicationURL" serializeAs="String">
        <value>http://localhost:3966/RobloxWebSite</value>
      </setting>
      <setting name="dbHelper_DefaultPoolSize" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="ReplicateLocalCache" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CacheReplicatorWaitTime" serializeAs="String">
        <value>00:00:00.05</value>
      </setting>
      <setting name="CacheReplicatorAddress" serializeAs="String">
        <value>224.168.100.2</value>
      </setting>
      <setting name="CacheReplicatorPort" serializeAs="String">
        <value>11000</value>
      </setting>
      <setting name="CacheReplicatorBatchSize" serializeAs="String">
        <value>60000</value>
      </setting>
      <setting name="CacheReplicatorSendtimeout" serializeAs="String">
        <value>00:00:00.1</value>
      </setting>
      <setting name="CacheReplicatorNicPrefix" serializeAs="String">
        <value>192.168.0</value>
      </setting>
      <setting name="PgmWindowSizeinMB" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="PgmWindowSizeTimeSpan" serializeAs="String">
        <value>00:00:10</value>
      </setting>
      <setting name="CcrServiceBacklogTrigger" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="CcrServiceBacklogTriggerInterval" serializeAs="String">
        <value>00:00:03</value>
      </setting>
      <setting name="PreventDirectAppServerAccess" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ClientPresenceUpdateIntervalInSeconds" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="AccessKey" serializeAs="String">
        <value>!0x5f3759df</value>
      </setting>
      <setting name="CacheSlidingExpiration" serializeAs="String">
        <value>01:00:00</value>
      </setting>
      <setting name="FacebookUploadEnabled" serializeAs="String">
        <value>False</value>
      </setting>
    </Roblox.Common.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
