<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RCCServiceSoap">
          <readerQuotas maxStringContentLength="131072"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:64989" binding="basicHttpBinding" bindingConfiguration="RCCServiceSoap" contract="RCC.RCCServiceSoap" name="RCCServiceSoap"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
