<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Roblox.WebsiteSettings.Properties.WebsiteBootstrapSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Roblox.WebsiteSettings.Properties.Layout" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Roblox.WebsiteSettings.Properties.GoogleAnalytics" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
            <section name="Roblox.WebsiteSettings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Roblox.WebsiteSettings.Properties.WebsiteBootstrapSettings>
            <setting name="GeneralEventLogSource" serializeAs="String">
                <value>RW1.Roblox.Website</value>
            </setting>
            <setting name="GeneralEventLogLevel" serializeAs="String">
                <value>Warning</value>
            </setting>
        </Roblox.WebsiteSettings.Properties.WebsiteBootstrapSettings>
        <Roblox.WebsiteSettings.Properties.Layout>
            <setting name="UseMVCNavBar" serializeAs="String">
                <value>False</value>
            </setting>
        </Roblox.WebsiteSettings.Properties.Layout>
        <Roblox.WebsiteSettings.Properties.GoogleAnalytics>
            <setting name="Async4AnalyticsAccountCode" serializeAs="String">
                <value>UA-486632-18</value>
            </setting>
            <setting name="GoogleAnalyticsAccountCode" serializeAs="String">
                <value>UA-486632-5</value>
            </setting>
            <setting name="GoogleAnalyticsDomainName" serializeAs="String">
                <value>robloxlabs.com</value>
            </setting>
            <setting name="GoogleAnalyticsSetDomainNameEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleAnalyticsContentGroupsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
        </Roblox.WebsiteSettings.Properties.GoogleAnalytics>
        <Roblox.WebsiteSettings.Properties.Settings>
            <setting name="ABTestNewVideoUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="ActivePlacesDefaultMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ApplicationURL" serializeAs="String">
                <value>http://localhost:3966</value>
            </setting>
            <setting name="Async2AnalyticsAccountCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="AsyncAnalyticsAccountCode" serializeAs="String">
                <value/>
            </setting>
            <setting name="BC6And12MonthsRecurOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BCPrepaidPromoNoCancelTerm" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BCPrepaidPromoValidDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestFriendsPollInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BestFriendsTabEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CatalogResultsPerPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChromePluginIsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClassicPlaceMaxPlayers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClassicPlaceMinPlayers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClickTrackerDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClickTrackerEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickTrackerEventAction" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClickTrackerEventCategory" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClickTrackerGAInstance" serializeAs="String">
                <value/>
            </setting>
            <setting name="ClickTrackerLogEvent" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClickTrackerLogPageview" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientInstallHost" serializeAs="String">
                <value>setup.roblox.com</value>
            </setting>
            <setting name="ClientToolboxSetsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientVersionConfigUpdateAccessKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="CollectibleItemSortEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ContestVideoJSPath" serializeAs="String">
                <value/>
            </setting>
            <setting name="ContestVideoSWF" serializeAs="String">
                <value/>
            </setting>
            <setting name="ContestVideoURL" serializeAs="String">
                <value/>
            </setting>
            <setting name="CookieConstraintPassword" serializeAs="String">
                <value/>
            </setting>
            <setting name="CookieStoreEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CreditCardExpireNagScreenEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CSSVersion" serializeAs="String">
                <value>20100623</value>
            </setting>
            <setting name="DebounceMultipleFriendInvitationsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DefaultHomePageVideoUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="DefaultMinimizeActivePlaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DmpHandlerSimpleDB" serializeAs="String">
                <value/>
            </setting>
            <setting name="DmpHandlerTimeoutInSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EnableDecalCreation" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableNewSignupPage" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EnableTags" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="EpicAdvertisingConversationEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ExtraForumAdsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FacebookConnectOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FacebookDeAuthorizationEmailTimEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FacebookFacepileOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FacebookLikeButtonOnHomePageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FacebookLikeOff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirefoxPluginIsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FriendLookupPageSize" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="FriendsPollInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FriendsTabEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GetExceptionalErrorTrackingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GiftCardBackgroudImage" serializeAs="String">
                <value/>
            </setting>
            <setting name="GiftCardPageExpirationDays" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoogleAnalyticsGoalTrackingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GoogleAnalyticsTrafficTrackingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GroupAdvertisingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoreErrorsForKeepAlivesFolder" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="KontagentCPCNewUserEventEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LandingPageFeaturedGameID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LevelUpActivated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LevelUpContestNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LoadTrustedAssetsOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LoginVIAFacebook" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogStatisticsHandlerDeprecated" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacChromePluginIsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MacFirefoxPluginIsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxFriendLookupsForOnlineList" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="MaximumLowRelevanceScoreForTags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumMediumRelevanceScoreForTags" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaximumNumberTagsToShowOnProductPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MegaPlaceMaxPlayers" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MegaPlaceOverlayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeActivePlaces" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimumNumberOfVotesForTagToAppear" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NumPlacesOnGamesPageMainDisplay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Outrageous2ThemeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersonalServerBuildToolIds" serializeAs="String">
                <value/>
            </setting>
            <setting name="PersonalServerOverlayEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PersonalServersEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaceItemsPageEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrerollAdaptvKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="PrerollAdsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrerollBCViewEveryXMinutesABTest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollBCViewEveryXMinutesDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollLoadingBarLengthSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollNBCViewEveryXMinutesABTest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollNBCViewEveryXMinutesDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollNewUserDefinitionInHoursABTest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollNewUserDefinitionInHoursDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollSequenceDepthABTest" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollSequenceDepthDefault" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollShowAdsOnWinVistaIE7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrerollShowAdsOnWinXP" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrerollSimplePercentageChance" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PrerollUseSimpleSelectionMethod" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PrimaryGroupsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReadAccountPrescenceFromServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentlyVisitedPlacesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RecentsPollInterval" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RedirectBillingPagesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Roblox2GAProfilePageViewEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Roblox2ThemeEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RobloxJsonCookieEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RobloxServiceUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="ROBLOXSetIDs" serializeAs="String">
                <value/>
            </setting>
            <setting name="SafariPluginIsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowMaxPlayers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowPersonalServerGames" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShutDownAllGamesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SmallHeaderModification" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpamPriyaEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialThemesEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpecialThemesFileUploadHasNotBeenFixed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SuperChargeProductID1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuperChargeProductID2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SuperChargeProductID3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TeleportsLuaGUIEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingAd4GameConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingAdknowledgePixelEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingBingConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingBingConversionSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingBoredConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingBrowserIdentifyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingCardRedemptionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingErrorsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingGameAdOnlineConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingGoogleAnalyticsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingGoogleConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingGoogleConversionSource" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingKontagentAPIKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingKontagentEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingKontagentRestUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingKontagentStagingAPIKey" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingKontagentStagingEvents" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingNeverblueConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingRevenueAdsConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingRobloxEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingRobloxRestUrl" serializeAs="String">
                <value/>
            </setting>
            <setting name="TrackingSpotXchangeConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TrackingValueClickConversionEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WindowsSafariPluginIsEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteAccountPresenceToDB" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteAccountPresenceToServices" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteAccountPresenceUponActivity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WriteAccountPresenceUponLogin" serializeAs="String">
                <value/>
            </setting>
        </Roblox.WebsiteSettings.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
